@import "bootstrap/scss/bootstrap";
@import "../shared/extend/center-container";

:host {
    @extend %fullscreen;

    .centered {
        @extend %centered;

        padding: 30px;
        width: 400px;

        @include media-breakpoint-down(md) {
            flex: 1 1 auto;
            border-radius: 0;
        }

        .login-text {
            margin: 0 0 15px;
            text-align: center;
        }

        form {
            .login-buttons {
                display: flex;
                justify-content: center;
    
                button {
                    flex: 1 1;
                    margin: 0 10px 0 0;
                    max-width: 165px;
    
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}