<div class="centered">
    <div class="login-text">Please, enter your e-mail</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
            <input type="email" id="email" class="form-control" placeholder="E-mail" formControlName="email"
                [ngClass]="form.controls['email'].invalid && 'is-invalid'" />
            <label for="email">E-mail</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" id="code" class="form-control" placeholder="Code"
                formControlName="code" [ngClass]="form.controls['code'].invalid && 'is-invalid'" />
            <label for="code">Code</label>
        </div>
        <div class="form-floating mb-3 login-buttons">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">OK</button>
            <button type="button" class="btn btn-outline-primary" (click)="onBack()">Cancel</button>
        </div>
    </form>
</div>