@use "bootstrap/scss/bootstrap" as *;

:host {
    display: none;
    flex-direction: column;
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 40%);
    z-index: 2;
    padding: 40px;

    &.visible {
        display: flex;
    }

    @include media-breakpoint-down(md) {
        padding: 20px;
    }

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}
