@import "bootstrap/scss/bootstrap";

:host {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;

    @include media-breakpoint-down(md) {
        display: none;

        &.active {
            display: flex;
        }
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: hidden;

        .messages-container {
            flex: 1 1 auto;
            overflow-y: auto;
    
            ul {
                margin: 0;
                padding: 10px 0;
    
                li {
                    display: flex;
                    margin: 0 0 10px 0;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    
        .send-message-container {
            display: flex;
            padding: 10px 6px 6px 6px;
    
            .textarea-container {
                flex: 1 1 auto;
                display: flex;
                textarea {
                    flex: 1 1 auto;
                    resize: none;
                    border-radius: 8px;
                    outline: 1px solid rgba(0,0,0,.5);
                    border: none;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 3px 8px;
                }
            }
    
            .submit-container {
                flex: 0 1 auto;
                display: flex;
                button {
                    flex: 0 1 auto;
                    background: none;
                    border: none;
                    font-size: 21px;
                    padding: 0 8px;
                    color: #5a5a5a;
                    &[disabled] {
                        color: #aaa9a9;
                    }
                }
            }
        }
    }
}