<router-outlet></router-outlet>
<div class="chat-container">
    <app-chat-header
        [backButton]="(isNotFoundVisible$ | async) || (isErrorVisible$ | async) ? 'visibleWithText' : 'visible'"></app-chat-header>
    <app-message-list (statusChanged)="onStatusChanged($event)"
        *ngIf="isMessageListVisible$ | async"></app-message-list>
    <app-compose-area *ngIf="isComposeAreaVisible$ | async"></app-compose-area>
    <app-not-found *ngIf="isNotFoundVisible$ | async"></app-not-found>
    <app-error *ngIf="isErrorVisible$ | async"></app-error>
    <app-video-call *ngIf="isCallInProgress$ | async"></app-video-call>
</div>