:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .messages-container {
        flex: 1 1 auto;

        ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
    
            li {
                display: flex;

                &.mine {
                    align-self: end;
                }

                .baloon {
                    padding: 5px 10px;
                    margin: 0 20px 10px 20px;
                    border: 1px solid #000;
                }
            }
        }
    }
    
    .send-message-container{
        display: flex;

        textarea {
            flex: 1 1 auto;
            resize: none;
        }

        button {
            flex: 0 1 auto;
        }
    }
}