<router-outlet></router-outlet>
<div class="chat-container">
    <app-chat-header></app-chat-header>
    <div class="messages-container" #scrollFrame (scroll)="onScroll()">
        <ul>
            <li *ngFor="
                    let message of messages
                        | visibleOnly : isMessageVisible
                        | orderBy : ['created'] : ['asc']
                ">
                <app-message #scrollItem [message]="message" [ngClass]="message.isMine && 'mine'">
                </app-message>
            </li>
        </ul>
    </div>
    <app-compose-area></app-compose-area>
</div>