@use "bootstrap/scss/bootstrap" as *;
@use "../../shared-styles/mixins/scrollbars" as *;

:host {
    display: flex;
    flex: 1 1 auto;

    @include media-breakpoint-down(md) {
        display: flex;
        width: calc(100vw - 56px);
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: hidden;
    }
}
