<div
    class="bubble"
    [ngClass]="{
        'btm-right': message.isMine,
        'btm-left': !message.isMine,
        'extra-padding':
            message.textHtml && (!message.isMine || !message.linkPreview),
    }"
>
    <div class="bubble-inner-container">
        @if (message.linkPreview) {
            <a
                [href]="message.linkPreview.url"
                target="_blank"
                class="link-preview"
            >
            @if (message.linkPreview.imageUrl && !isImageError) {
                <div
                    class="link-preview-image"
                >
                    <img
                        [src]="message.linkPreview.imageUrl"
                        (error)="onImageError()"
                        referrerpolicy="no-referrer"
                        alt="Site preview"
                        loading="lazy"
                    />
                </div>
            }

                <div class="link-preview-text-container">
                    <div class="link-preview-text" [title]="message.linkPreview.title">
                        {{ message.linkPreview.title }}
                    </div>
                </div>
            </a>
        }
        @if (message.textHtml) {
            <div
                class="content"
                [innerHTML]="message.textHtml"
            ></div>
        }
        @if (message.image) {
            <div class="content">
                <app-image
                    [imagePreview]="message.imagePreview"
                    [imageKey]="message.image"
                    [chatId]="message.chatId"
                ></app-image>
            </div>
        }
        <div
            class="time"
            title="{{ message.created | date: 'HH:mm, d MMMM y' }}"
        >
            {{ message.created | date: "HH:mm" }}
        </div>
    </div>
</div>
