@use "bootstrap/scss/bootstrap" as *;
@use "../../../shared-styles/mixins/line-clamp" as *;

// https://codepen.io/Founts/pen/AJyVOr
:host {
    display: flex;
    flex: 1 1 auto;

    .bubble {
        display: inline-block;
        position: relative;
        max-width: 80%;
        background-color: #ffffeb;
        box-shadow: 0 0 2px 0 rgb(0 0 0 / 70%);
        border-radius: 7px;

        .bubble-inner-container {
            padding: 4px;
            margin: 0;
            display: flex;
            flex-direction: column;

            .content {
                overflow-wrap: anywhere;
                font-size: 14px;
                line-height: 20px;
                display: flex;
                flex: 0 1 auto;
                flex-direction: column;

                @include media-breakpoint-down(sm) {
                    font-size: 15px;
                }

                /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
                ::ng-deep p {
                    margin: 0;

                    a {
                        @include line-clamp(2);
                    }

                    @include media-breakpoint-down(sm) {
                        a {
                            font-size: 14px;
                        }
                    }

                    .emoji {
                        font-size: 22px;
                        line-height: 1;
                        vertical-align: bottom;
                    }

                    &.emoji-only-1 {
                        .emoji {
                            font-size: 42px;
                        }
                    }

                    &.emoji-only-2 {
                        .emoji {
                            font-size: 32px;
                        }
                    }
                }

                &.emoji-only-1 {
                    /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
                    ::ng-deep p {
                        .emoji {
                            font-size: 42px;
                        }
                    }
                }

                &.emoji-only-2 {
                    /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
                    ::ng-deep p {
                        .emoji {
                            font-size: 32px;
                        }
                    }
                }
            }

            .time {
                font-size: 10px;
                line-height: 10px;
                text-align: right;
                margin: 4px 0 0;
            }

            .link-preview {
                display: flex;
                text-decoration: none;
                color: inherit;
                align-self: flex-start;

                .link-preview-image {
                    flex: 0 1 auto;
                    margin: 0 10px 0 0;
                    display: flex;
                    align-items: center;

                    img {
                        max-height: 40px;
                        border-radius: 5px;
                    }
                }

                .link-preview-text-container {
                    flex: 1 1 auto;
                    display: flex;
                    align-items: center;

                    .link-preview-text {
                        overflow-wrap: anywhere;
                        font-size: 13px;
                        line-height: 16px;
                        font-weight: 600;
                        
                        @include line-clamp(3);
                    }
                }

                + .content {
                    align-self: flex-start;
                }
            }
        }

        &.btm-left {
            margin: 0 0 0 12px;
        }

        &.btm-right {
            margin: 0 8px 0 0;
        }

        &.extra-padding {
            .bubble-inner-container {
                padding: 4px 8px 4px 4px;
            }
        }
    }

    &.mine {
        justify-content: flex-end;

        .bubble {
            .bubble-inner-container {
                align-items: flex-end;
            }

            &.extra-padding {
                .bubble-inner-container {
                    padding: 4px 4px 4px 8px;
                }
            }
        }
    }
}
