:host {
    display: flex;
    flex: 0 1 auto;

    button {
        background: none;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;

        fa-icon {
            font-size: 20px;
        }
    }
}
