<nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            (click)="toggleNavbarCollapsing()"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Lets Talk</a>
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="chats">Chats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="profile">Profile</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" href="#" routerLink="auth">Log in</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" href="#" (click)="logout()">Log out</a>
            </li>
        </ul>
    </div>
  </nav>