$navbar-light-brand-color: #fff;
$navbar-light-brand-hover-color: #fff;
$navbar-light-color: #fff;
$navbar-light-hover-color: #fff;
$navbar-light-active-color: #fff;

@import "node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

app-navbar {
  display: block;
  flex: 0 1 auto;
}

nav {
  background: #009688;
}  

@include media-breakpoint-down(sm) {
  .navbar-collapse {
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
    background: #ffffff;
    z-index: 1000;

    .navbar-nav {
      margin: 0 10px;
    }
  }
}
