// https://codepen.io/Founts/pen/AJyVOr
:host {
    display: flex;
    flex: 1 1 auto;

    &.mine {
        justify-content: end;
    }      

    .border {
        border: 1px solid #666 !important;
        border-radius: 7px;
    }

    .talk-bubble {
        display: inline-block;
        position: relative;
        max-width: 80%;
        background-color: lightyellow;

        &.btm-left{
            margin: 0 0 0 15px;

            &:before {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                left: -6px;
                right: auto;
                top: auto;
                bottom: -1px;
                border: 6px solid;
                border-color: transparent transparent #666 transparent;
            }

            &:after {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                left: -5px;
                right: auto;
                top: auto;
                bottom: 0;
                border: 6px solid;
                border-color: transparent transparent lightyellow transparent;
            }
        }
        
        &.btm-right{
            margin: 0 15px 0 0;

            &:before {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                left: auto;
                right: -7px;
                bottom: -1px;
                border: 7px solid;
                border-color: transparent transparent #666 transparent;
            }

            &:after {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                left: auto;
                right: -5px;
                bottom: 0;
                border: 6px solid;
                border-color: transparent transparent lightyellow transparent;
            }
        }
    }
    
    .talktext {
        padding: 5px 8px;
        margin: 0;
        word-wrap: break-word;
        font-size: 14px;
        line-height: 20px;
    }
}
