// https://codepen.io/Founts/pen/AJyVOr
:host {
    display: flex;
    flex: 1 1 auto;

    &.mine {
        justify-content: flex-end;
    }

    .bubble {
        display: inline-block;
        position: relative;
        max-width: 80%;
        background-color: lightyellow;
        box-shadow: 0 0 1px 1px rgb(0 0 0 / 45%);
        border-radius: 7px;

        &.btm-left{
            margin: 0 0 0 12px;
        }
        
        &.btm-right{
            margin: 0 8px 0 0;
        }
    }
    
    .bubble-inner-container {
        padding: 5px 8px;
        margin: 0;

        .text {
            overflow-wrap: anywhere;
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 4px;
        }

        .time {
            font-size: 10px;
            line-height: 10px;
            text-align: right;
        }

        .link-preview {
            display: flex;
            text-decoration: none;
            color: inherit;

            .link-preview-image {
                flex: 0 1 auto;
                margin: 0 10px 0 0;
                display: flex;
                align-items: center;
                
                img {
                    max-height: 40px;
                }
            }

            .link-preview-text-container {
                flex: 1 1 auto;
                display: flex;
                align-items: center;

                .link-preview-text {
                    overflow-wrap: anywhere;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                }
            }
        }
    }
}
