<div class="bubble"
    [ngClass]="message.isMine ? 'btm-right' : 'btm-left'">
    <div class="bubble-inner-container">
        <a [href]="message.linkPreview.url" *ngIf="message.linkPreview" class="link-preview">
            <div class="link-preview-image" *ngIf="message.linkPreview.imageUrl && !isImageError">
                <img [src]="message.linkPreview.imageUrl" (error)="onImageError($event)" />
            </div>
            <div class="link-preview-text-container">
                <div class="link-preview-text">{{message.linkPreview.title}}</div>
            </div>
        </a>
        <div class="text" [innerHTML]="message.textHtml"></div>
        <div class="time"
            title="{{message.created | date:'HH:mm, d MMMM YYYY'}}">
            {{message.created | date:"HH:mm"}}
        </div>
    </div>
</div>