@import "bootstrap/scss/bootstrap";
@import "../shared/mixins/avatar-styles";

:host {
    display: flex;
    text-decoration: none;
    color: #000;
    padding: 10px;
    background: rgb(0 0 0 / 10%);
    z-index: 1;

    @include media-breakpoint-down(lg) {
        box-shadow: 0 0 5px 3px rgb(0 0 0 / 20%);
        padding: 10px 10px 10px 0;
    }

    ::ng-deep .back {
        padding: 0 10px;
        display: none;

        @include media-breakpoint-down(lg) {
            display: block;
            padding: 0 10px 0 15px;
        }
    }

    .back {
        flex: 0 1 auto;
        background: none;
        border: none;
        font-size: 20px;
        padding: 0 10px 0 15px;
        height: $avatar-size-desktop;

        @include media-breakpoint-down(sm) {
            height: $avatar-size-mobile;
        }
    }

    app-avatar {
        @include avatar-styles(42px);
    }

    app-user-details {
        padding: 0 0 0 10px;
    }
}
