@use "bootstrap/scss/bootstrap" as *;
@use "../../../../shared-styles/mixins/avatar-styles" as *;

:host {
    background: rgb(0 0 0 / 10%);

    app-user-details {
        padding: 0;
    }

    app-top-panel {
        padding: 10px 0;

        @include media-breakpoint-down(sm) {
            min-height: 76px;
        }
    }
}
