@import "bootstrap/scss/bootstrap";

:host {
    flex: 1 1 auto;
    display: flex;
    box-shadow: 0 0 0 6px rgb(255 255 255 / 40%);
    width: 1000px;
    margin: 28px auto;
    max-height: calc(100vh - 56px);
    border-radius: 10px;
    background: #fff;
    overflow: hidden;


    @include media-breakpoint-down(lg) {
        margin: 0;
        width: auto;
        border-radius: 0;
        box-shadow: none;
    }
}