<div class="logged-in-user-container">
    <div class="logged-in-user-inner-container">
        <app-back-button (click)="onBackButtonClicked()" *ngIf="isNavigationActive"></app-back-button>
        <a [routerLink]="['/profile']" title="Edit profile" *ngIf="!isNavigationActive">
            <app-avatar [urlOptions]="account && [account.imageId, account.photoUrl]"></app-avatar>
        </a>
        <app-user-details [value]="isNavigationActive ? 'Select contact' : 'You'"></app-user-details>
        <app-logout-button (click)="onLogoutButtonClicked()" *ngIf="!isNavigationActive"></app-logout-button>
    </div>
</div>