<div *ngIf="(account$ | async)" class="logged-in-user-container">
    <div class="user-photo"
        [ngStyle]="(account$ | async).photoUrl && { 'background-image': 'url(' + (account$ | async).photoUrl + '), url(images/empty-avatar.svg)'}">
    </div>
    <div class="user-details">
        <div class="user-name">You</div>
        <a [routerLink]="['/profile']" class="icon" title="Profile">
            <fa-icon [icon]="faUser"></fa-icon>
        </a>
        <a href="#" class="icon" (click)="logout()" title="Log out">
            <fa-icon [icon]="faRightFromBracket"></fa-icon>
        </a>
    </div>
</div>