@use "bootstrap/scss/bootstrap" as *;
@use "../../shared-styles/mixins/avatar-styles" as *;
@use "../../shared-styles/variables" as *;

:host {
    color: #000;
    background: rgb(255 197 35);
    background: linear-gradient(
        90deg,
        rgb(255 197 35 / 100%) 0%,
        rgb(255 211 86 / 100%) 100%
    );

    .logged-in-user-container {
        .logged-in-user-inner-container {
            display: flex;
            padding: 10px;

            app-back-button {
                padding: 0 10px 0 15px;
                height: $avatar-size-desktop;

                @include media-breakpoint-down(sm) {
                    height: $avatar-size-mobile;
                }
            }

            app-avatar {
                @include avatar-styles;
            }

            app-user-details {
                padding: 0 0 0 10px;
            }
        }
    }

    &.navigation-active {
        background: rgb(0 0 0 / 10%);

        .logged-in-user-container {
            .logged-in-user-inner-container {
                padding-left: 0;

                app-user-details {
                    padding: 0;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        box-shadow: 0 0 5px 3px rgb(0 0 0 / 20%);
    }
}
