:host {
    display: flex;

    .user-avatar {
        flex: 0 1 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}