:host {
    display: flex;

    .user-avatar {
        flex: 1 1 auto;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}