@import "bootstrap/scss/bootstrap";
@import "../variables";

@mixin avatar-styles($size: $avatar-size-mobile) {
    flex: 0 1 $avatar-size-desktop;
    min-width: $avatar-size-desktop;
    height: $avatar-size-desktop;

    @include media-breakpoint-down(sm) {
        flex: 0 1 $size;
        min-width: $size;
        height: $size;
    }
}
