@use "bootstrap/scss/bootstrap" as *;
@use "../variables" as *;

@mixin avatar-styles($desktop: $avatar-size-desktop, $mobile: $avatar-size-mobile) {
    min-width: $desktop;
    height: $desktop;

    @include media-breakpoint-down(sm) {
        min-width: $mobile;
        height: $mobile;
    }
}
