:host {
    display: flex;
    align-items: end;

    button {
        flex: 0 1 auto;
        background: none;
        border: none;
        font-size: 21px;
        padding: 3px 8px;
        color: #5a5a5a;
        position: relative;
        transition: color 0.2s ease;

        &[disabled] {
            color: #aaa9a9;
        }

        ::ng-deep svg {
            transform: translateX(-5px) rotate(45deg);
        }
    }
}
