:host {
    display: flex;
    flex: 1 1 auto;
    align-items: center;

    .error {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;

        &__icon {
            font-size: 200px;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}
