html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: url('/images/lights.jpg');
    background-size: contain;
}

app-root {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.main-app-container {
    flex: 1 1 auto;
    display: flex;
    box-shadow: 0 0 0 7px rgb(255 255 255 / 40%);
    width: 1000px;
    margin: 28px auto;
    max-height: calc(100vh - 56px);
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}
