@use "bootstrap/scss/bootstrap" as *;

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #4158d0;
    background-image: linear-gradient(
        192deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );

    @include media-breakpoint-down(sm) {
        background-color: #fff;
        background-image: none;
    }

    @include media-breakpoint-down(sm) {
        .toast-top-right {
            top: auto;
            bottom: 60px;
        }
    }
}

app-root {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
