%fullscreen {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

%centered {
    flex: 0 1 auto;
    background: #fff;
    box-shadow: 0 0 0 6px rgb(255 255 255 / 40%);
    border-radius: 10px;
}
