@import "bootstrap/scss/bootstrap";

%user-details {
    flex: 1 1 auto;
    display: flex;
    padding: 0 0 0 10px;
    align-items: center;
    overflow: hidden;

    .user-name {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
    }
}