@import "bootstrap/scss/bootstrap";

%user-details {
    flex: 1 1 auto;
    display: flex;
    padding: 0 0 0 10px;
    align-items: center;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        font-size: 20px;
        font-weight: 300;
    }

    .user-name {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
    }
}