:host {
    a {
        display: block;
        border-radius: 5px;
        overflow: hidden;
    }

    .spinner-container {
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        min-height: 100px;

        .spinner-border {
            width: 36px;
            height: 36px;
        }
    }
}
