@use "bootstrap/scss/bootstrap" as *;

:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .new-chat-button {
        background: none;
        position: absolute;
        right: 15px;
        bottom: 15px;
        font-size: 40px;
        line-height: 40px;
        border: none;
        color: #ffc523;
        padding: 0;

        fa-icon {
            filter: drop-shadow(0 1px 0 rgb(0 0 0 / 35%));
        }
    }

    @include media-breakpoint-down(lg) {
        .new-chat-button {
            font-size: 54px;
            line-height: 54px;
        }
    }
}