<div class="send-message-container">
    <div class="textarea-container">
        <textarea [(ngModel)]="message" (keydown.control.enter)="onSendMessage(message)" name="message"></textarea>
    </div>
    <div class="button-container">
        <app-select-image-button (imageBlobReady)="onImageBlobReady($event)"></app-select-image-button>
        <app-send-message-button (buttonClick)="onSendMessage(message)"
            [disabled]="isSending || !message.trim()"></app-send-message-button>
    </div>
</div>