@use "bootstrap/scss/bootstrap" as *;
@use "../../../shared-styles/mixins/avatar-styles" as *;

:host {
    display: flex;
    text-decoration: none;
    color: #000;
    padding: 10px;
    background: rgb(0 0 0 / 10%);
    z-index: 1;
    min-height: 60px;

    @include media-breakpoint-down(lg) {
        box-shadow: 0 0 5px 3px rgb(0 0 0 / 20%);
        padding: 10px 10px 10px 0;
    }

    app-back-button {
        padding: 0 10px;
        display: none;

        @include media-breakpoint-down(lg) {
            display: flex;
            padding: 0 10px 0 15px;
        }
    }

    app-avatar {
        @include avatar-styles(42px);
    }

    app-user-details {
        padding: 0 0 0 10px;
    }
}
