@use "bootstrap/scss/bootstrap" as *;
@use "../../../shared-styles/mixins/avatar-styles" as *;

:host {
    z-index: 1;
    
    app-top-panel {
        background: rgb(0 0 0 / 10%);

        app-avatar {
            @include avatar-styles(42px);
        }

        app-call-button {
            @include avatar-styles(42px);
        }

        app-user-details {
            padding: 0 0 0 10px;
        }

        ::ng-deep app-back-button {
            display: none;
        }

        @include media-breakpoint-down(lg) {
            padding: 10px 0;

            ::ng-deep app-back-button {
                display: flex;
            }

            ::ng-deep app-call-button {
                margin-right: 15px;
            }
        }
    }
}
