<a href="#" *ngIf="account" (click)="onAccountSelected()">
    <app-avatar [account]="account"></app-avatar>
    <div class="user-details">
        <div class="user-name">
            {{ account.firstName }} {{ account.lastName }}
        </div>
        <div class="unread-count" *ngIf="account.unreadCount">
            <div class="unread-count-text">
                {{account.unreadCount}}
            </div>
        </div>
        <div class="social-icon">
            <app-social-media-icon [iconTypeId]="account.accountTypeId"></app-social-media-icon>
        </div>
    </div>
</a>