@import "bootstrap/scss/bootstrap";
@import "../shared/mixins/user-photo";

a {
    display: flex;
    text-decoration: none;
    color: #000;
    padding: 10px;

    @include media-breakpoint-down(sm) {
        padding: 8px 10px;
    }

    .user-photo {
        @include user-photo;
    }
}
