<a href="#" *ngIf="account" (click)="onAccountSelected()">
    <div class="user-photo"
        [ngStyle]="account.photoUrl && { 'background-image': 'url(' + account.photoUrl + ')'}">
    </div>
    <div class="user-details">
        <div class="user-name">
            {{ account.firstName }} {{ account.lastName }}
        </div>
        <div class="unread-count" *ngIf="account.unreadCount">
            {{account.unreadCount}}
        </div>
        <div class="social-icon">
            <app-social-media-icon [iconTypeId]="account.accountTypeId"></app-social-media-icon>
        </div>
    </div>
</a>