<div class="centered">
    <div class="login-text">Sign in with social media</div>
    <div class="login-options">
        <ul>
            <li>
                <button class="btn btn-outline-primary" (click)="signInWithFB()">
                    <app-social-media-icon [iconTypeId]="1"></app-social-media-icon>Facebook
                </button>
            </li>
            <li *ngIf="isVkProviderAvailable">
                <button class="btn btn-outline-primary" (click)="signInWithVK()">
                    <app-social-media-icon [iconTypeId]="2"></app-social-media-icon>VK
                </button>
            </li>
        </ul>
    </div>
    <div class="login-privacy-policy">
        Read our <a [routerLink]="['/privacy-policy']">privacy policy</a>
    </div>
</div>