@import "../shared/extend/center-container";

:host {
    @extend %fullscreen;

    .centered {
        @extend %centered;

        padding: 45px;

        .login-text {
            margin: 0 0 15px;
            text-align: center;
        }

        .login-options {
            ul {
                list-style: none;
                padding: 0;

                li {
                    margin: 0 0 15px;
                    display: flex;

                    button, a {
                        flex: 1 1 auto;
                        margin: 0 20px 0 0;
        
                        &:last-child {
                            margin: 0;
                        }

                        ::ng-deep fa-icon {
                            margin: 0 5px 0 0;
                        }
                    }
                }
            }
        }

        .login-privacy-policy {
            text-align: center;
        }
    }
}