@use "bootstrap/scss/bootstrap" as *;
@use "../../../../shared-styles/mixins/avatar-styles" as *;
@use "../../../../shared-styles/variables" as *;

:host {
    background: rgb(255 197 35);
    background: linear-gradient(
        90deg,
        rgb(255 197 35 / 100%) 0%,
        rgb(255 211 86 / 100%) 100%
    );

    app-avatar {
        @include avatar-styles;
    }

    app-user-details {
        padding: 0 0 0 10px;
    }

    app-top-panel {
        @include media-breakpoint-down(sm) {
            min-height: 76px;
        }
    }
}
