@use "bootstrap/scss/bootstrap" as *;
@use "../../../shared-styles/mixins/scrollbars" as *;

:host {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;

    .messages-container {
        flex: 1 1 auto;
        overflow-y: auto;

        @include scrollbars;

        ul {
            margin: 0;
            padding: 10px 0;

            li {
                display: flex;
                margin: 0 0 10px;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}
