<div class="profile-container">
    <div class="profile-text">Please, update your profile</div>
    <div class="profile-form">
        <div class="form-floating mb-3">
            <input type="firstname" id="firstname" class="form-control" placeholder="First name">
            <label for="firstname">First name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="lastname" id="lastname" class="form-control" placeholder="Last name">
            <label for="lastname">First name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" id="email" class="form-control" placeholder="E-mail">
            <label for="email">E-mail</label>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary">OK</button>
            <button type="button" class="btn btn-outline-primary" (click)="onBack()">Cancel</button>
        </div>
    </div>
</div>