@import "bootstrap/scss/bootstrap";
@import "../shared/extend/center-container";

:host {
    @extend %fullscreen;

    @include media-breakpoint-down(md) {
        max-height: 100vh;
        align-items: stretch;
    }

    .centered {
        @extend %centered;

        padding: 30px;
        width: 400px;

        @include media-breakpoint-down(md) {
            flex: 1 1 auto;
            border-radius: 0;
        }

        .profile-text {
            margin: 0 0 15px;
            text-align: center;
        }

        form {
            .avatar-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                .avatar-border {
                    border-radius: 50%;
                    border: 2px solid rgb(0 0 0 / 40%);
                    overflow: hidden;

                    .avatar {
                        width: 100px;
                        height: 100px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        position: relative;

                        .avatar-upload {
                            display: none;
                            position: absolute;
                            inset: 0;
                            background: rgb(0 0 0 / 40%);
                            align-items: center;
                            justify-content: center;

                            .avatar-upload-text {
                                font-size: 40px;
                                color: rgb(255 255 255 / 80%);
                            }

                            input[type="file"] {
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                opacity: 0;
                                position: absolute;
                                cursor: pointer;
                            }
                        }

                        &:hover {
                            .avatar-upload {
                                display: flex;
                            }
                        }
                    }
                }
            }

            .profile-buttons {
                display: flex;
                justify-content: center;
    
                button {
                    flex: 1 1;
                    margin: 0 10px 0 0;
                    max-width: 165px;
    
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}