<div class="centered">
    <div class="profile-text">Please, update your profile</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
            <div class="avatar-container">
                <div class="avatar-border">
                    <app-avatar class="avatar" [urlOptions]="urlOptions()">
                        <div class="avatar-upload">
                            <div class="avatar-upload-text">
                                <fa-icon [icon]="faUpload"></fa-icon>
                            </div>
                            <input type="file" (change)="onAvatarSelected($event)" title="Upload new photo" />
                        </div>
                    </app-avatar>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" id="firstname" class="form-control" placeholder="First name" formControlName="firstName"
                [ngClass]="form.controls['firstName'].invalid && 'is-invalid'" />
            <label for="firstname">First name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" id="lastname" class="form-control" placeholder="Last name" formControlName="lastName"
                [ngClass]="form.controls['lastName'].invalid && 'is-invalid'" />
            <label for="lastname">Last name</label>
        </div>
        @if (email()) {
            <div class="form-floating mb-3">
                <input type="text" class="form-control" [value]="email()" disabled />
                <label for="lastname">Email</label>
            </div>
        }
        <div class="form-floating mb-3 profile-buttons">
            <button type="submit" class="btn btn-primary" [disabled]="isSending() || !form.valid">
                OK
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="onBack()">
                Cancel
            </button>
        </div>
    </form>
</div>