@import "../shared/extend/center-container";

:host {
    @extend %fullscreen;

    .centered {
        @extend %centered;

        padding: 30px;
        width: 400px;

        .profile-text {
            margin: 0 0 15px;
            text-align: center;
        }

        form {
            .profile-buttons {
                display: flex;
    
                button {
                    flex: 1 1;
                    margin: 0 10px 0 0;
    
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }


    }
}