@import "bootstrap/scss/bootstrap";

:host {
    display: flex;
    flex: 0 1 300px;
    min-width: 300px;
    flex-direction: column;
    box-shadow: 0 0 5px 3px rgb(0 0 0 / 20%);
    position: relative;

    .new-chat-button {
        background: none;
        position: absolute;
        right: 15px;
        bottom: 15px;
        font-size: 40px;
        line-height: 40px;
        border: none;
        color: #ffc523;
        padding: 0;

        fa-icon {
            filter:drop-shadow(1px 1px 0 rgb(0 0 0 / 35%));
        }
    }

    @include media-breakpoint-down(lg) {
        display: none;
        flex: 1 1 auto;
        box-shadow: none;
        overflow-x: hidden;
        width: calc(100vw - 56px);

        &.active {
            display: flex;
        }

        .new-chat-button {
            font-size: 52px;
            line-height: 52px;
        }
    }
}