@use "bootstrap/scss/bootstrap" as *;

:host {
    display: flex;
    flex: 0 1 300px;
    min-width: 300px;
    flex-direction: column;
    box-shadow: 0 0 5px 3px rgb(0 0 0 / 20%);
    position: relative;

    @include media-breakpoint-down(lg) {
        display: none;
        flex: 1 1 auto;
        box-shadow: none;
        overflow-x: hidden;
        width: calc(100vw - 56px);

        &.active {
            display: flex;
        }
    }
}
