<div class="send-message-container">
    <div class="textarea-container">
        <textarea [(ngModel)]="message" (keydown.control.enter)="send(message)" name="message"></textarea>
    </div>
    <div class="button-container">
        <button title="Select a picture">
            <input type="file" (change)="onImageSelected($event)" />
            <fa-icon [icon]="faCamera"></fa-icon>
        </button>
        <app-send-message-button (buttonClick)="send(message)"
            [disabled]="isSending || !message.trim()"></app-send-message-button>
    </div>
</div>