@use "bootstrap/scss/bootstrap" as *;
@use "../../../shared-styles/mixins/avatar-styles" as *;

:host {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #000;
    flex-direction: column;
    align-items: center;

    video {
        height: 100%;
        min-height: 0;
        object-fit: contain;

        &.remote-video {
            flex: 2.5;
            width: 100%;

            @include media-breakpoint-down(sm) {
                object-fit: cover;
            }
        }

        &.local-video {
            flex: 1;
            width: 40%;

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
    }

    .controls {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        .controls-inner {
            display: flex;
            gap: 25px;
            align-items: center;

            app-call-button,
            app-media-toggle-button {
                @include avatar-styles(42px);
            }
        }
    }
}
