@use "bootstrap/scss/bootstrap" as *;

:host {
    display: flex;
    height: 100vh;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }

    video {
        flex: 1;
        width: 42%;
        object-fit: cover;

        @include media-breakpoint-down(sm) {
            height: 50%;
            width: auto;
        }
    }
}
