<app-video-with-avatar-fallback #remoteVideo class="remote-video"
    [videoElementClass]="'remote-video'"></app-video-with-avatar-fallback>
<app-video-with-avatar-fallback #localVideo class="local-video" [videoElementClass]="'local-video'"
    [isAudioMuted]="'local-video'" [isVideoMuted]="!captureVideo()"
    [urlOptions]="localUrlOptions()"></app-video-with-avatar-fallback>
<div class="minimize-button">
    <app-minimize-button (buttonClick)="minimizeCall()"></app-minimize-button>
</div>
<div class="controls">
    <div class="controls-inner">
        <app-media-toggle-button [isMuted]="!captureVideo()" [mode]="'video'"
            (buttonClick)="toggleCaptureVideo()"></app-media-toggle-button>
        <app-media-toggle-button [isMuted]="!captureAudio()" [mode]="'audio'"
            (buttonClick)="toggleCaptureAudio()"></app-media-toggle-button>
        <app-call-button [mode]="'end-call'" (buttonClick)="endCall()"></app-call-button>
    </div>
</div>