@use "bootstrap/scss/bootstrap" as *;
@use "../../../shared-styles/mixins/avatar-styles" as *;

:host {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #000;
    flex-direction: column;
    align-items: center;

    video {
        height: 100%;
        min-height: 0;
        object-fit: contain;

        &.remote-video {
            flex: 2.5;
            width: 100%;

            @include media-breakpoint-down(sm) {
                object-fit: cover;
            }
        }

        &.local-video {
            flex: 1;

            position: absolute;
            right: 0;
            height: auto;
            bottom: 0;
            width: 30%;
            border-radius: 8px 0 0 0;

            @include media-breakpoint-down(sm) {
                bottom: 100px;
                border-radius: 8px 0 0 8px;
                max-width: 35%;
                max-height: 35%;
            }
        }
    }

    .controls {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        .controls-inner {
            display: flex;
            gap: 25px;
            align-items: center;

            app-call-button,
            app-media-toggle-button {
                @include avatar-styles(42px);

                @include media-breakpoint-down(sm) {
                    @include avatar-styles(54px);
                    font-size: 20px;
                }
            }
        }
    }
}
