@use "bootstrap/scss/bootstrap" as *;
@use "../../../shared-styles/mixins/scrollbars" as *;

.send-message-container {
    display: flex;
    padding: 10px 6px 10px 10px;
    max-height: 171px;

    @include media-breakpoint-down(sm) {
        padding: 10px 6px 15px 10px;
    }

    .compose-area-container {
        flex: 1 1 auto;
        display: flex;
        border: 2px solid rgb(0 0 0 / 40%);
        border-radius: 12px;
        overflow: hidden;

        app-select-image-button {
            transition: transform 0.3s ease, opacity 0.3s ease;

            &.hidden {
                transform: translateX(45px);
                opacity: 0;
            }
        }
    }
}
