@use "../../../shared-styles/mixins/scrollbars" as *;

.send-message-container {
    display: flex;
    padding: 10px 6px 6px 10px;
    min-height: 66px;
    max-height: 66px;

    .textarea-container {
        flex: 1 1 auto;
        display: flex;

        textarea {
            flex: 1 1 auto;
            resize: none;
            border-radius: 8px;
            border: 2px solid rgb(0 0 0 / 40%);
            outline: none;
            font-size: 14px;
            line-height: 20px;
            padding: 3px 8px;

            @include scrollbars;
        }
    }

    .button-container {
        flex: 0 1 auto;
        display: flex;

        app-select-image-button {
            margin-left: 4px;
        }

        app-send-button {
            margin-right: 2px;
        }
    }
}
